
body{
    /* font-size: 15px; */
    color: #3b3b3b;
}

.col-form-label, .form-control{
    font-size: 15px;
}

img{    
    width: 18px;
    opacity: 0.75;
}

strong{
    font-weight: 600;
    /* color: rgb(45, 45, 45); */
    color: rgb(78 77 77);
}

h6{
    margin-bottom: 0px!important;
}

.alert-success{
    margin-bottom: 17px!important;
}

.text-md-start{
    margin-left: 18px!important;
}

.text-md-start {
    margin-left: 0px!important;
}

.card{
    max-width: 357px;
}

.btn-primary{
    background-color: #3d8bfd!important;
    border-color: #3d8bfd!important;    
}

.btn-danger{
    background-color: #df4957!important;
    border-color: #df4957!important;    
}

.navbar-brand{
    font-family: 'Lucida Handwriting', sans-serif;
    font-size: 24px;
}

button{
    height: 30px!important;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
    font-size: 14px!important;
    margin-top: 10px!important;
}

.fa-circle-plus::before {
    content: "\f055";
    font-size: 25px;
    color: green;
}

.fa-circle-plus30::before {
    content: "\f055";
    font-size: 30px;
    color: green;
}

.fa-circle-minus::before {
    content: "\f056";
    font-size: 25px;
    color: red;
}

.fa-circle-minus30::before {
    content: "\f056";
    font-size: 30px;
    color: red;
}

.fa-spinner{
    font-size: 30px;
}

.iconEnCurso{
    font-size: 15px;
}

.fa-user-pen, .fa-right-to-bracket, .fa-user-gear{
    margin-left: 10px;
}

/* CUSTOM IDS AND CLASSES ----------------------------------------------------------------------------- */

.miDiv {
    margin-left: -111px!important;
    margin-right: -106px!important;
}

.tituloCabecera{
    color: rgb(117, 1, 1);
    text-align: center;
    margin-top: 10px;
}


.tituloRol{
    margin-right: 20px;
    margin-top: 0px;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Lucida Handwriting', sans-serif;
}

.comandasNavTabs button {
    height: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 14px;
    margin-top: 10px;
}

.botonesAdmin{
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"!important;
}

.botonRedondo {
    margin-left: -10px;
}

.botonMasMenos{
    margin-top: 5px!important;
}

.btnEditarComandaAjax{
    margin-right: 5px;
}

#botonCurso{
    min-width: 89px;
}

.marginTopBody{
    margin-top: 120px;
}

#anchorCrearComanda{
    margin-top: -100px!important;
}

.titulosComandas{
    margin-bottom: -1px!important;
}

#tituloCrearComanda{
    color: #0a58ca!important;
}

#bodyCrearComanda{
    background-color: #f0f6ff;
}

#tituloComandaAbierta{
    color: #e5ad06;
}

.bodyComandas div{
    margin-left: 30px;
    margin-top: -28px;
    margin-bottom: -28px;
}

.bodyComandasAbiertas{    
    background-color: #fff7e1;
    padding-top: 6px;
    padding-bottom: 9px;
}

#tituloComandaEnCurso{
    color: #f91629;
}

.bodyComandasEnCurso{
    background-color: #F8D7DA;
    padding-top: 6px;
    padding-bottom: 9px;
}

#tituloComandaCerrada{
    color: #26a46c;
}

.bodyComandasCerradas{
    background-color: #D1E7DD;
    padding-top: 6px;
    padding-bottom: 9px;
}

#cardCrear{    
    min-width: 472px;
}

.nuevoProducto{
    margin-left: 192px;;
    width: 168.5px;
    margin-bottom: 16px;
}

.nuevaCantidad{
    margin-left: 367px;
    width: 70.5px;
    margin-top: -54px;
    margin-bottom: 14px;
}


.cantidad{
    width: 94px!important;
    margin-left: -17px!important;
}

/* LOGIN */

#tituloLogin{
    margin-right: 160px;
    margin-top: 0px;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Lucida Handwriting', sans-serif;
}

#cardLogin{
    max-width: initial;
}

/* ADMINISTRADOR */

#tituloAdministrador{
    margin-right: 160px;
    margin-top: -10px;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 10px;
    font-family: 'Lucida Handwriting', sans-serif;
}

.sinFocus:focus {
    box-shadow: none!important;
}

.numeroMesa {
    margin-left: 21px!important;
}

#comentarioLabel{
    width: 135px;
}

#comentarioInput{
    width: 302px;
}

.botonOcultar{
    position: fixed;
    transform: rotate(-90deg);
    right: -10px;
    height: 55px!important;
    padding-bottom: 24px!important;
}

#ocultarCrear{
    top: 200px;    
}

#ocultarAbiertas{
    top: 276px;
    right: -19px;
}

#ocultarEnCurso{
    top: 363px;
    right: -21px;
}

#ocultarCerradas{
    top: 451px;
    right: -21px;
}

.textoDerecha{
    position: absolute;
    right: 12px!important;
}

#iconChef{
    width: 32px;
    opacity: 1.75;
    padding-bottom: 13px;
    margin-left: 5px;
}


/* RESPONSIVE */

@media (min-width: 1400px) { 

    .titulosComandas{
        margin-bottom: -1px!important;
    }

    .miDiv{
        margin-left: initial;
        margin-right: initial;
    }

    .card{
        margin: auto;
    }

    .navbar{
        margin-right: -78px;    
    }
 }

@media (max-width: 767px) { 

    .marginTopBody {
        margin-top: 139px;
    }
    
    .col-md-auto{
        margin-top: 20px;
    }

    .titulosComandas{
        margin-bottom: -1px!important;
    }
    
    .miDiv{
        margin-left: initial;
        margin-right: initial;
    }

    .card{
        max-width: initial;
        margin-left: 100px;
        margin-right: 50px;
    }
    
    .comandasNavTabs{
        margin-top: -4px;
        position: absolute;
        margin-left: 132px;
    }
    
    .comandasBody{
        margin-top: 135px;
    }
    
    #crearComanda{
        margin-top: 9px;

    }

    .nuevoProducto{
        margin-left: initial;
        width: initial;
        margin-bottom: initial;
    }

    .cantidad{
        width: 100%!important;
        margin-left: initial!important;
    }

    .nuevaCantidad{
        margin-left: initial;
        width: initial;
        margin-top: initial;
        margin-bottom: 13px;
    }

    .botonMasMenos{
        margin-bottom: 10px;
    }
    
    .botonMas{
        margin-left: 241px;
    /* margin-bottom: z; */
    width: 10px;
    margin-top: 4px!important;
    }
    
    .botonMenos{
        margin-top: 4px!important;
        margin-left: 11px;
        width: 10px;
    }

    select{
        margin-bottom: 10px;
    }
}
 

